
.allert, .allert_tell {
    position: absolute;
    z-index: 20;
    top: 15px;
    right: 18px;
    display: block;
    height: 20px;
    color: #FF6565;
    cursor: default;
}

.er_border, .error {
    border: 1px solid red!important;
}

.allert:hover, .allert_tell:hover{
    text-decoration : none;
}

.allert span, .allert_tell span {
    display: none;
    opacity: 0;
    padding : 5px;
    margin-left : 5px;
    color:#000;
    font-style:italic;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    min-width: 140px;
    text-align: left;
}

.allert:hover span, .allert_tell:hover span {
    border : 1px solid #FF6565;
    background : #fff;
    display : inline;
    position : absolute;
    color : #4e4e4e;
    right:24px;
    top:-6px;
    opacity: 1;
}

.field {
    position: relative;
    float: left;
    .allert{
        .fa-exclamation-triangle{
            display: block;
            background-size: 100%;
            width: 25px;
            height: 25px;
        }
    }
}

.jb_input .field {
    width: 100%;
}

.jb_input {
 /*   overflow: hidden;*/
}

.jb_input .tooltip-arrow {}
.jb_input .mess_error {position: relative; width: 100%; padding: 5px 0px; top: -5px; float: left;}
a{
    text-decoration: none;
    outline: none;
    &:hover,&:focus{
        text-decoration: none;
        outline: none;
    }
}

.clearfix{
    &:after{
        clear: both;
    }
}

.inner{
    max-width: 1170px;
    margin: 0 auto;
}

.icon{
    display: inline-block;
}

.btn{
    display: inline-block;
    transition: .2s all;
}

h1{
    color: #ffffff;
    font-size: 71px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    margin: 0;
    span{
        font-size: 29px;
        font-weight: 300;
    }
}

h2{
    color: #262d37;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    span{
        color: #59d9a5;
    }
}

.icon-ques-arrow-top{
    width: 24px;
    height: 14px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOBAMAAADH1sFNAAAAAXNSR0IB2cksfwAAACFQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAbdFIwQAAAAt0Uk5TAAIGHQUYARcZHAMg01ZtAAAAVUlEQVR4nGNgAAFGAQYEUDZBsJlMgx0QEmGpJgiJBDa4lHIYAwNMCijBwACTUi4DkelGYAnzBBDFVqwAl4BIQSUgUjAJsFR7AozDVsmwAOEqLoYhAgBO5g3BJLlkOQAAAABJRU5ErkJggg==);
}
.icon-ques-arrow-bot{
    width: 24px;
    height: 14px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOBAMAAADH1sFNAAAAAXNSR0IB2cksfwAAACFQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAbdFIwQAAAAt0Uk5TAwAcFwEZBh0FGALxM1AyAAAAZUlEQVR4nGNgFIQDAQZlRxhbxJQh3QTGcS5jECuGSomYJzIIwqScywQZBKFSQAkgByoFlABxJCqBUiLTE8EcwfYpgoKeQAkwBygFlgBzgFJgCQhHohIsAeEItoMloByphRDOEAEAW9EZppiF1HcAAAAASUVORK5CYII=);
}

p{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

















