@import "bourbon";
@import "vars";
@import "fonts";


.shake{
  animation-name: shake;
  animation-timing-function: ease;
  animation-duration: .4s;
}

@include keyframes(shake){
  from{
    transform: translateX(0px);
  }
  20%,60%{
    transform: translateX(-10px);
  }
  40%,80%{
    transform: translateX(10px);
  }
  to{
    transform: translateX(0px);
  }
}

@if $adaptive == true {
  @media (max-width: 480px){

  }
}

body{
  font-family: 'Exo 2', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

header{
  background-image: url("../img/bg-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 460px;
  padding-top: 15px;
  @if $adaptive == true {
    @media (max-width: 770px){
      padding-top: 0;
    }
  }
}

.header-top{
  .h-mnu{
    ul{
      @if $adaptive == true {
        @media (max-width: 770px){
          width: 320px;
          position: absolute;
          top: 0;
          left: -120%;
          text-align: center;
          background-color: #262d37;
          z-index: 1;
          transition: .5s all;
          &.is-active{
            left: 0;
          }
        }
      }
      li{
        a{
          @if $adaptive == true {
            @media (max-width: 770px){
              float: none;
              width: 100%;
              padding: 21px 0;
              display: block;
              border-radius: 0;
              border-bottom: 1px solid white;
              border-right: 1px solid white;
            }
          }
        }
      }
    }
  }
}

.h-mnu{
  margin-left: -15px;
  position: relative;
  ul{
    li{
      a{
        float: left;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        transition: .2s all;
        background-color: transparent;
        padding: 6px 15px;
        border-radius: 20px;
        &:hover,&:focus{
          background-color: #59d9a5;
          color: #000000;
        }
      }
    }
  }
}

.login{
  line-height: 32px;
  @if $adaptive == true {
    @media (max-width: 770px){
      padding-top: 15px;
    }
  }
  a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    transition: .2s all;
    &:hover,&:focus{
      color: darken(#fff, 40);
    }
  }
  span{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin: 0 4px;
  }
}

.hamburger{
  position: absolute;
  top: 5px;
  left: 0;
  display: none!important;
  z-index: 2;
  @if $adaptive == true {
    @media (max-width: 770px){
      display: block!important;
    }
  }
}

.header-content{
  text-align: center;
  h1{
    margin-top: 160px;
    @if $adaptive == true {
      @media (max-width: 770px){
        margin-top: 170px;
      }
      @media (max-width: 550px){
        font-size: 50px;
        line-height: 25px;
        span{
          font-size: 20px;
        }
      }
      @media (max-width: 380px){
        font-size: 35px;
        line-height: 22px;
        span{
          font-size: 17px;
        }
      }
    }
  }
  a{
    margin: 0 7px;
    margin-top: 30px;
    @if $adaptive == true {
      @media (max-width: 550px){
        margin-top: 15px;
      }
    }
  }
}

.btn-green{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  border: 3px solid #59d9a4;
  padding: 12px 30px;
  border-radius: 50px;
  &:hover,&:focus{
    background-color: #59d9a4;
    color: black;
  }
}

.btn-blue{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  border: 3px solid #59d5da;
  padding: 12px 25px;
  border-radius: 50px;
  &:hover,&:focus{
    background-color: #59d5da;
    color: black;
  }
}

.work{
  text-align: center;
  padding: 70px 0;
  @if $adaptive == true {
    @media (max-width: 483px){
      padding: 40px 0;
    }
  }
}

.work-rad{
  width: 86px;
  height: 86px;
  border: 5px solid #59d9a5;
  color: #59d9a4;
  font-size: 30px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  border-radius: 50px;
  margin: 0 auto;
}

.work-item{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 205px;
  margin: 0 38px;
  margin-top: 40px;
  position: relative;
  @if $adaptive == true {
    @media (max-width: 1163px){
      margin: 0 10px;
      margin-top: 40px;
    }
  }
  &:after{
    position: absolute;
    content: '';
    display: block;
    width: 207px;
    height: 7px;
    background-color: #59d9a5;
    top: 40px;
    right: -143px;
    @if $adaptive == true {
      @media (max-width: 1163px){
        width: 147px;
        right: -87px;
      }
      @media (max-width: 939px){
        display: none;
      }
    }
  }
  p{
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
  }
}

.work-item-last{
  &:after{
    display: none;
  }
}

.header-mod{
  background-image: none;
  min-height: auto;
  background-color: #262d37;
  padding-bottom: 15px;
}

.text-content{
  h2{
    text-align: left;
  }
}

.bread-crumbs{
  margin-bottom: 5px;
  a{
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
  }
  span{
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 5px;
  }
}

.news-item{
  margin-top: 25px;
  img{
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    @if $adaptive == true {
      @media (max-width: 1110px){
        display: block;
        width: 250px;
      }
      @media (max-width: 400px){
        width: 100%;
      }
    }
  }
  .news-right{
    display: inline-block;
    vertical-align: middle;
    width: 82%;
    margin-left: 10px;
    @if $adaptive == true {
      @media (max-width: 1110px){
        margin-left: 0;
        width: 100%;
        display: block;
        margin-top: 20px;
      }
    }
    p{
      font-weight: 300;
      line-height: 18px;
      margin-top: 5px;
    }
    h6{
      font-size: 18px;
      font-weight: 700;
    }
    .news-date{
      color: #808080;
      font-size: 13px;
      font-weight: 300;
    }
  }
}

.news{
  h2{
    margin-bottom: 35px;
  }
}

.text-content{
  h2{
    span{
      color: #bfbfbf;
      font-weight: 400;
    }
  }
}

.btn-br{
  background-color: #59d9a5;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px;
  border: 3px solid #59d9a4;
  padding: 6px 19px;
  &:hover,&:focus{
    color: #000;
    background-color: transparent;
  }
}

.bt-head{
  h2{
    display: inline-block;
    @if $adaptive == true {
      @media (max-width: 580px){
        display: block;
        margin-bottom: 20px;
      }
    }
  }
  .btn-br{
    float: right;
    margin-top: 3px;
    @if $adaptive == true {
      @media (max-width: 580px){
        float: none;
        margin-top: 0;
      }
    }
  }
  .btn-pers{
    float: right;
    margin-top: 6px;
    @if $adaptive == true {
      @media (max-width: 580px){
        float: none;
        margin-top: 0;
      }
    }
  }
}

.br-rate-left{
  float: left;
  color: #808080;
  font-size: 14px;
  font-weight: 700;
}

.br-rate-right{
  float: right;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.br-rate-item{
  border-bottom: 1px solid #d9d9d9;
  height: 25px;
  margin-top: 5px;
}

.br-rate{
  margin-top: 35px;
  @if $adaptive == true {
    @media (max-width: 767px){
      margin-top: 20px;
    }
  }
}

.reg{
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
  margin-bottom: 40px;
  height: 142px;
  border-radius: 20px;
  @if $adaptive == true {
    @media (max-width: 1000px){
      height: 215px;
    }
    @media (max-width: 780px){
      height: auto;
    }
    @media (max-width: 780px){
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
}

.reg-left{
  width: 20%;
  height: 100%;
  float: left;
  background-color: white;
  border-radius: 20px 0 0 20px;
  text-align: center;
  position: relative;
  @if $adaptive == true {
    @media (max-width: 1000px){
      width: 25%;
    }
    @media (max-width: 850px){
      width: 30%;
    }
    @media (max-width: 780px){
      float: none;
      width: 100%;
      padding: 50px 0;
      border-radius: 20px 20px 0 0;
    }
  }
  img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    @if $adaptive == true {
      @media (max-width: 780px){
        position: relative;
      }
    }
  }
}

.reg-right{
  width: 80%;
  height: 100%;
  background-color: #262d37;
  border-radius: 0 20px 20px 0;
  float: left;
  padding: 25px 30px;
  position: relative;
  @if $adaptive == true {
    @media (max-width: 1000px){
      width: 75%;
    }
    @media (max-width: 850px){
      width: 70%;
    }
    @media (max-width: 780px){
      float: none;
      width: 100%;
      height: auto;
      border-radius: 0 0 20px 20px;
      text-align: center;
    }
  }
  &:after{
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    margin-top: -20px;
    left: -40px;
    border: 20px solid transparent;
    border-right: 20px solid #262d37;
    @if $adaptive == true {
      @media (max-width: 780px){
        border: 20px solid transparent;
        border-bottom: 20px solid #262d37;
        top: -20px;
        left: 50%;
        margin-left: -20px;
      }
    }
  }
  h5{
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    @if $adaptive == true {
      @media (max-width: 1000px){
        display: block;
      }
      @media (max-width: 780px){
        font-size: 22px;
        br{
          display: none;
        }
      }
    }
    span{
      color: #59d9a5;
    }
  }
  .btn-br-mod{
    vertical-align: middle;
    float: right;
    margin: 20px 0;
    @if $adaptive == true {
      @media (max-width: 1000px){
        float: none;
        margin-bottom: 0;
      }
    }
  }
}

.btn-br-mod{
  font-size: 18px;
  padding: 10px 25px;
  &:hover,&:focus{
    color: white;
  }
}

.btn-pers{
  border: 1px solid rgba(0, 0, 0, .25);
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px;
  padding: 5px 15px;
  &:hover,&:focus{
    border-color: transparent;
    background-color: rgba(0, 0, 0, .25);
    color: white;
  }
}

.vivod{
  margin-top: 25px;
  @if $adaptive == true {
    @media (max-width: 580px){
      margin-top: 15px;
    }
  }
  h6{
    color: #808080;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    span{
      color: #000000;
      font-weight: 700;
    }
  }
  .btn-pers{
    vertical-align: middle;
  }
}

.pers-item{
  margin-top: 50px;
  position: relative;
  height: 138px;
  @if $adaptive == true {
    @media (max-width: 750px){
      margin-top: 30px;
      height: auto;
    }
  }
  &:after{
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, .15);
    height: 1px;
    width: 100%;
    bottom: 67px;
    left: 0;
    @if $adaptive == true {
      @media (max-width: 750px){
        display: none;
      }
    }
  }
  h4{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
  }
}

.pers-block{
  float: left;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    display: none;
    background-color: rgba(0, 0, 0, .15);
    height: 1px;
    width: 100%;
    bottom: -10px;
    left: 0;
    @if $adaptive == true {
      @media (max-width: 750px){
        display: block;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 750px){
      float: none;
    }
  }
}

.pers-line{
  margin-top: 10px;
  h6{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
  }
  p{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0!important;
  }
  a{
    color: #003cff;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    &:hover,&:focus{
      text-decoration: underline;
    }
  }
}

.pers-head{
  margin-bottom: 20px;
  @if $adaptive == true {
    @media (max-width: 750px){
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}

.pers-block-1{
  width: 32%;
  @if $adaptive == true {
    @media (max-width: 1100px){
      width: 28%;
    }
    @media (max-width: 950px){
      width: 20%;
    }
    @media (max-width: 750px){
      width: 100%;
    }
  }
}

.pers-block-2{
  width: 28%;
  @if $adaptive == true {
    @media (max-width: 950px){
      width: 20%;
    }
    @media (max-width: 750px){
      width: 100%;
    }
  }
}

.pers-block-3{
  width: 20%;
  @if $adaptive == true {
    @media (max-width: 750px){
      width: 100%;
    }
  }
}

.pers-block-4{
  width: 15%;
  @if $adaptive == true {
    @media (max-width: 950px){
      width: 20%;
    }
    @media (max-width: 750px){
      display: none;
    }
  }
}

.pers-block-5{
  @if $adaptive == true {
    @media (max-width: 750px){
      display: none;
    }
  }
}

.pers-block-media{
  .pers-line{
    p{
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
    a{
      display: none;
      @if $adaptive == true {
        @media (max-width: 750px){
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
        }
      }
    }
  }
}

.add{
  margin-top: 30px;
  a{
    margin-right: 10px;
  }
  span{
    @if $adaptive == true {
      @media (max-width: 750px){
        display: block;
        margin-top: 5px;
        margin-left: 8px;
      }
    }
  }
}

.pers-block-6{
  width: 14%;
  @if $adaptive == true {
    @media (max-width: 750px){
      width: 20%;
    }
    @media (max-width: 450px){
      width: 26%;
    }
  }
}

.pers-block-7{
  width: 75%;
  @if $adaptive == true {
    @media (max-width: 750px){
      width: 60%;
    }
    @media (max-width: 450px){
      width: 56%;
    }
  }
}

.pers-block-8{
  width: auto;
}

.pers-item-second{
  &:after{
    @if $adaptive == true {
      @media (max-width: 750px){
        display: block;
        top: 81px;
      }
    }
  }
  .pers-line{
    @if $adaptive == true {
      @media (max-width: 750px){
        margin-top: 20px;
      }
    }
  }
  .pers-block{
    &:after{
      @if $adaptive == true {
        @media (max-width: 750px){
          display: none;
        }
      }
    }
    @if $adaptive == true {
      @media (max-width: 750px){
        float: left;
      }
    }
  }
}

.popup-all{
  width: 423px;
  height: auto;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 30px 0;
  @if $adaptive == true {
    @media (max-width: 450px){
      width: 95%;
    }
  }
  h3{
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  form{
    width: 320px;
    margin: 0 auto;
    @if $adaptive == true {
      @media (max-width: 450px){
        width: 85%;
      }
    }
    p{
      text-align: left;
      color: rgba(0, 0, 0, .5);
      margin: 5px 0;
      margin-top: 10px;
    }
    label{
      input{
        margin-top: 0;
        &:hover,&:focus{
          background-color: transparent;
          background-image: url("../img/input.png");
          @if $adaptive == true {
            @media (max-width: 450px){
              background-image: none;
            }
          }
        }
      }
    }
    input{
      width: 100%;
      height: 35px;
      background-image: url("../img/input.png");
      background-repeat: no-repeat;
      border: none;
      outline: none;
      padding-left: 20px;
      margin-top: 7px;
      border-radius: 50px;
      transition: .2s all;
      @if $adaptive == true {
        @media (max-width: 450px){
          background-image: none;
          border: 1px solid purple;
        }
      }
      &:hover,&:focus{
        background-color: darken(white, 10);
        background-image: none;
      }
    }
    button{
      margin-top: 20px;
    }
  }
}















