footer.footer-mod
    .inner
        .container-fluid
            .row
                .col-md-12
                    .pull-left
                        h6 © 2017 Copyright. Все права защищены.
                    .h-mnu
                        ul
                            li
                                a(href="#") О проекте
                            li
                                a(href="#") Брокеры
                            li
                                a(href="#") F.A.Q
                            li
                                a(href="#") Контакты
#popup1.popup-all.mfp-hide.form-block
    h3 Авторизация
    form.form-shake
        input(type="text" name="email" placeholder="E-mail" required)
        input(type="text" name="pass" placeholder="Пароль" required)
        button.btn.btn-br(name="send") Авторизоваться
#popup2.popup-all.mfp-hide.form-block
    h3 Зарегистрироваться
    form.form-shake
        label
            p E-mail
            input(type="text" name="email" required)
        label
            p Пароль
            input(type="text" name="pass" required)
        label
            p Пароль еще раз
            input(type="text" name="passrepeat" required)
        button.btn.btn-br(name="send") Авторизоваться
#popup3.popup-all.mfp-hide.form-block
    h3 Изменить пароль
    form.form-shake
        label
            p Старый пароль
            input(type="text" name="oldpass" required)
        label
            p Новый пароль
            input(type="text" name="newpass" required)
        button.btn.btn-br(name="send") Сохранить
#popup4.popup-all.mfp-hide.form-block
    h3 Добавить счет брокера
    form.form-shake
        label
            p Выберите брокера
            input(type="text" name="broker" required)
        label
            p Номер счета
            input(type="text" name="number" required)
        button.btn.btn-br(name="send") Сохранить
#popup5.popup-all.mfp-hide.form-block
    h3 Вывести деньги
    form.form-shake
        label
            p Сумма (не более суммы баланса)
            input(type="text" name="summ" required)
        label
            p Платежная система
            input(type="text" name="system" required)
        label
            p Номер карты/счета
            input(type="text" name="card" required)
        button.btn.btn-br(name="send") Заказать вывод
script.
    var scr = {"scripts":[
        {"src" : "js/libs.js", "async" : false},
        {"src" : "js/common.js", "async" : false}
    ]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
    // Load Scripts End