header.header-mod
    .inner
        .container-fluid
            .row
                .col-xs-12
                    .header-top
                        .h-mnu
                            .hamburger.hamburger--elastic
                                .hamburger-box
                                    .hamburger-inner
                            ul
                                li
                                    a(href="#") Главная
                                li
                                    a(href="#") О проекте
                                li
                                    a(href="#") Брокеры
                                li
                                    a(href="#") Нововости
                                li
                                    a(href="#") F.A.Q
                                li
                                    a(href="#") Контакты
                        .pull-right
                            .login
                                a(href="#") Вход
                                span /
                                a(href="#") Регистрация