header
    .inner
        .container-fluid
            .row
                .col-xs-12
                    .header-top
                        .h-mnu
                            .hamburger.hamburger--elastic
                                .hamburger-box
                                    .hamburger-inner
                            ul
                                li
                                    a(href="#") Главная
                                li
                                    a(href="#") О проекте
                                li
                                    a(href="#") Брокеры
                                li
                                    a(href="#") Нововости
                                li
                                    a(href="#") F.A.Q
                                li
                                    a(href="#") Контакты
                        .pull-right
                            .login
                                a(href="#popup1" class="popup") Вход
                                span /
                                a(href="#popup2" class="popup") Регистрация
                    .header-content
                        h1
                            |Мы платим
                            br
                            span даже если вы торгуете в убыток
                        a.btn.btn-green(href="#") Посмотреть брокеров
                        a.btn.btn-blue(href="#") Как это работает?
