doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        block content
            .text-content
                .inner
                    .container-fluid
                        .row
                            .col-md-12
                                .bt-head
                                    h2
                                        span Брокеры —
                                        |  Alpari
                                    a.btn.btn-br(href="#") Перейти на сайт брокера
                                p
                                    |На сегодняшний день Альпари — одна из ведущих форекс-компаний в мире: мы обслуживаем более миллиона клиентов из более чем 150 стран мира. Безупречная репутация, клиентоориентированность и инновационный подход к развитию бизнеса позволили компании занять лидирующие позиции в своей отрасли. История развития Альпари — яркий пример, как несколько человек добиваются головокружительного успеха, начав бизнес с нуля. Источник: «История развития компании»
                        .row
                            .col-sm-6
                                .br-rate
                                    .br-rate-item
                                        .br-rate-left
                                            |Рейтинг
                                        .br-rate-right
                                            |4.82/5
                                    .br-rate-item
                                        .br-rate-left
                                            | Регулируется
                                        .br-rate-right
                                            | IFSC, ЦБ
                                    .br-rate-item
                                        .br-rate-left
                                            | Тип брокера
                                        .br-rate-right
                                            | ECN
                                    .br-rate-item
                                        .br-rate-left
                                            | Бонус
                                        .br-rate-right
                                            | 0%
                            .col-sm-6
                                .br-rate
                                    .br-rate-item
                                        .br-rate-left
                                            | Еще какие-то данные
                                        .br-rate-right
                                            | 4.82/5
                                    .br-rate-item
                                        .br-rate-left
                                            | И еще данные
                                        .br-rate-right
                                            | IFSC, ЦБ
                                    .br-rate-item
                                        .br-rate-left
                                            | Много данных
                                        .br-rate-right
                                            | ECN
                                    .br-rate-item
                                        .br-rate-left
                                            | Строчка
                                        .br-rate-right
                                            | 0%
                        .row
                            .col-md-12
                                .reg
                                    .reg-left
                                        img(src="img/rate2.jpg")
                                    .reg-right
                                        h5
                                            span Зарегистрируйтесь
                                            |  у брокера
                                            br
                                            |  и
                                            span  получайте дополнительные выплаты
                                            br
                                            |  с помощью нашего сервиса
                                        a.btn.btn-br.btn-br-mod(href="#") Зарегистрироваться
                                p
                                    |Компания Альпари, основанная в 1998 году, является одним из ведущих мировых брендов, предоставляющих услуги для работы на финансовых рынках. Общее количество сотрудников в РФ и СНГ - более 350 человек. Более 700 сотрудников по всему миру. Компании бренда работают в 22 странах мира, обслуживают более 1 миллиона клиентов из 150 стран, имеют лицензии девяти регуляторов и являются членами четырех бирж. Альпари обслуживает клиентов более чем в 150 странах мира, офисы компаний бренда работают в Москве, Токио, Минске  и других финансовых центрах мира.
                                p
                                    |По версии «Интерфакс-ЦЭА» компания признана крупнейшим форекс-брокером в России как по числу клиентов, так и по объёму торговых операций по итогам 2011, 2012, 2013 и 2014 годов. Совокупный торговый оборот Alpari в России и СНГ в 2014 году превысил $1,2 трлн.
                                p
                                    |Alpari предоставляет возможность онлайн торговли различными финансовыми инструментами: валютными парами, металлами спот и контрактами на разницу цен. Также доступны для торговли бинарные опционы. Многообразие торговых платформ и аналитических сервисов, технологии NDD и ECN, уникальный инвестиционный сервис ПАММ-счет, ориентированность на клиента, а также постоянное развитие продуктов и услуг дают Альпари право считаться одним из ведущих форекс-брокеров в мире. Для клиентов компании доступен демо счет для оценки оказываемых сервисов.
                                p
                                    |Компания «Альпари-Брокер» имеет лицензии профессионального участника рынка ценных бумаг и лицензию биржевого посредника, выданные Федеральной Службой по Финансовым рынкам (ФСФР). Компания Альпари-брокер предлагает услуги в области торговли на срочном валютном рынке с последующей регистрацией совершаемых сделок на бирже «ММВБ» и услуги торговли на фондовом рынке.
                                p
                                    |бработка клиентских сделок: В компании используются 2 основных метода котирования: Standard и Ecn.
                                p
                                    |Standard – при данном методе котирования компания при необходимости выводит на рынок только совокупную позицию по всем счетам, при этом клиринг осуществляется внутри компании. Исполнение сделок происходит по потоковым ценам (по методу исполнения Instant Execution). Прибыль компания получает за счет спреда клирингуемых клиентов.
        include _footer2

