extends layouts/html.jade
block content
    .work
        .inner
            .container-fluid
                .row
                    .col-md-12
                        h2 Как
                            span  работает
                            |  система?
                        .work-item
                            .work-rad 1
                            p Создайте аккаунт
                        .work-item
                            .work-rad 2
                            p Зарегистрируйтесь у любого
                                br
                                |  брокера из списка ниже
                        .work-item
                            .work-rad 3
                            p Укажите в личном кабинете
                                br
                                |  номер счета брокера
                        .work-item.work-item-last
                            .work-rad 4
                            p Получайте выплаты
    .rate
        .inner
            .container-fluid
                .row
                    .col-md-12
                        h2 Рейтинг брокеров
                        .rate-item
                            img(src="img/rate1.jpg")
                            p
                                |В настоящее время Альфа-Форекс является всемирно известным
                                br
                                |  Форекс брокером и занимает лидирующие позиции в Восточной
                                br
                                |  Европе по количеству оборотов денежных средств. Альфа-Форекс
                                br
                                |  входит в состав Консорциума «Альфа-Групп», который является
                                br
                                |  одной из крупнейших частных инвестиционных групп в России.
                            .rate-right
                                .rate-right-item
                                    p
                                        span рейтинг
                                        br
                                        |  4.9/5
                                .rate-right-item
                                    p
                                        span регулируется
                                        br
                                        |  CySEC
                                .rate-right-item
                                    p
                                        span тип брокера
                                        br
                                        |  NDD, ECN
                                .rate-right-item
                                    p
                                        span бонус
                                        br
                                        |  100%
                                br
                                a.btn.btn-rate(href="#") Подробнее
                                a.btn.btn-rate(href="#") Перейти к регистрации
                        .rate-item
                            img(src="img/rate2.jpg")
                            p
                                |На сегодняшний день «Альпари» – одна из ведущих компаний,
                                br
                                |  предоставляющих услуги интернет-трейдинга в России.
                                br
                                |  Безупречная репутация, клиентоориентированность и
                                br
                                |  инновационный подход к развитию бизнеса позволили Компании
                                br
                                |  не только твердо занять свою нишу в России, но и успешно...
                            .rate-right
                                .rate-right-item
                                    p
                                        span рейтинг
                                        br
                                        |  4.9/5
                                .rate-right-item
                                    p
                                        span регулируется
                                        br
                                        |  CySEC
                                .rate-right-item
                                    p
                                        span тип брокера
                                        br
                                        |  NDD, ECN
                                .rate-right-item
                                    p
                                        span бонус
                                        br
                                        |  100%
                                br
                                a.btn.btn-rate(href="#") Подробнее
                                a.btn.btn-rate(href="#") Перейти к регистрации
                        .rate-item
                            img(src="img/rate3.jpg")
                            p
                                |Эксперты компании ежедневно формируют и выкладывают в
                                br
                                |  свободный доступ аналитику по текущему состоянию рынков, что
                                br
                                |  даёт возможность трейдерам принимать более взвешенные, а
                                br
                                |  значит - и более прибыльные торговые решения.
                            .rate-right
                                .rate-right-item
                                    p
                                        span рейтинг
                                        br
                                        |  4.9/5
                                .rate-right-item
                                    p
                                        span регулируется
                                        br
                                        |  CySEC
                                .rate-right-item
                                    p
                                        span тип брокера
                                        br
                                        |  NDD, ECN
                                .rate-right-item
                                    p
                                        span бонус
                                        br
                                        |  100%
                                br
                                a.btn.btn-rate(href="#") Подробнее
                                a.btn.btn-rate(href="#") Перейти к регистрации
                        .rate-item
                            img(src="img/rate1.jpg")
                            p
                                | В настоящее время Альфа-Форекс является всемирно известным
                                br
                                |  Форекс брокером и занимает лидирующие позиции в Восточной
                                br
                                |  Европе по количеству оборотов денежных средств. Альфа-Форекс
                                br
                                |  входит в состав Консорциума «Альфа-Групп», который является
                                br
                                |  одной из крупнейших частных инвестиционных групп в России.
                            .rate-right
                                .rate-right-item
                                    p
                                        span рейтинг
                                        br
                                        |  4.9/5
                                .rate-right-item
                                    p
                                        span регулируется
                                        br
                                        |  CySEC
                                .rate-right-item
                                    p
                                        span тип брокера
                                        br
                                        |  NDD, ECN
                                .rate-right-item
                                    p
                                        span бонус
                                        br
                                        |  100%
                                br
                                a.btn.btn-rate(href="#") Подробнее
                                a.btn.btn-rate(href="#") Перейти к регистрации
                        .rate-item
                            img(src="img/rate2.jpg")
                            p
                                | На сегодняшний день «Альпари» – одна из ведущих компаний,
                                br
                                |  предоставляющих услуги интернет-трейдинга в России.
                                br
                                |  Безупречная репутация, клиентоориентированность и
                                br
                                |  инновационный подход к развитию бизнеса позволили Компании
                                br
                                |  не только твердо занять свою нишу в России, но и успешно...
                            .rate-right
                                .rate-right-item
                                    p
                                        span рейтинг
                                        br
                                        |  4.9/5
                                .rate-right-item
                                    p
                                        span регулируется
                                        br
                                        |  CySEC
                                .rate-right-item
                                    p
                                        span тип брокера
                                        br
                                        |  NDD, ECN
                                .rate-right-item
                                    p
                                        span бонус
                                        br
                                        |  100%
                                br
                                a.btn.btn-rate(href="#") Подробнее
                                a.btn.btn-rate(href="#") Перейти к регистрации
                        .rate-item
                            img(src="img/rate3.jpg")
                            p
                                | Эксперты компании ежедневно формируют и выкладывают в
                                br
                                |  свободный доступ аналитику по текущему состоянию рынков, что
                                br
                                |  даёт возможность трейдерам принимать более взвешенные, а
                                br
                                |  значит - и более прибыльные торговые решения.
                            .rate-right
                                .rate-right-item
                                    p
                                        span рейтинг
                                        br
                                        |  4.9/5
                                .rate-right-item
                                    p
                                        span регулируется
                                        br
                                        |  CySEC
                                .rate-right-item
                                    p
                                        span тип брокера
                                        br
                                        |  NDD, ECN
                                .rate-right-item
                                    p
                                        span бонус
                                        br
                                        |  100%
                                br
                                a.btn.btn-rate(href="#") Подробнее
                                a.btn.btn-rate(href="#") Перейти к регистрации
                        .rate-bl
                            a.btn.btn-rate(href="#") Показать еще
    .ques
        .inner
            .container-fluid
                .row
                    .col-md-12
                        h2 Часто задаваемые вопросы
                        .ques-item.ques-item1
                            h6 Какой-то вопрос по системе, ответ на который очень интеерсует пользователя?
                            i.icon.icon-ques-arrow-bot
                            .ques-hide
                                p
                                    |Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного
                                    |  развития. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании новых предложений. Таким образом
                                    |  укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Разнообразный и богатый опыт
                                    |  реализация намеченных плановых заданий играет важную роль в формировании дальнейших направлений развития. Повседневная практика показывает, что
                                    |  постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации существенных финансовых и административных
                                    |  условий.
                        .ques-item.ques-item2
                            h6 Какой-то вопрос по системе, ответ на который очень интеерсует пользователя?
                            i.icon.icon-ques-arrow-bot
                            .ques-hide
                                p
                                    | Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного
                                    |  развития. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании новых предложений. Таким образом
                                    |  укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Разнообразный и богатый опыт
                                    |  реализация намеченных плановых заданий играет важную роль в формировании дальнейших направлений развития. Повседневная практика показывает, что
                                    |  постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации существенных финансовых и административных
                                    |  условий.
                        .ques-item.ques-item3
                            h6 Какой-то вопрос по системе, ответ на который очень интеерсует пользователя?
                            i.icon.icon-ques-arrow-bot
                            .ques-hide
                                p
                                    | Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного
                                    |  развития. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании новых предложений. Таким образом
                                    |  укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Разнообразный и богатый опыт
                                    |  реализация намеченных плановых заданий играет важную роль в формировании дальнейших направлений развития. Повседневная практика показывает, что
                                    |  постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации существенных финансовых и административных
                                    |  условий.
                        .ques-item.ques-item4
                            h6 Какой-то вопрос по системе, ответ на который очень интеерсует пользователя?
                            i.icon.icon-ques-arrow-bot
                            .ques-hide
                                p
                                    | Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного
                                    |  развития. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании новых предложений. Таким образом
                                    |  укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Разнообразный и богатый опыт
                                    |  реализация намеченных плановых заданий играет важную роль в формировании дальнейших направлений развития. Повседневная практика показывает, что
                                    |  постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации существенных финансовых и административных
                                    |  условий.
                        .ques-item.ques-item5
                            h6 Какой-то вопрос по системе, ответ на который очень интеерсует пользователя?
                            i.icon.icon-ques-arrow-bot
                            .ques-hide
                                p
                                    | Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного
                                    |  развития. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании новых предложений. Таким образом
                                    |  укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Разнообразный и богатый опыт
                                    |  реализация намеченных плановых заданий играет важную роль в формировании дальнейших направлений развития. Повседневная практика показывает, что
                                    |  постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации существенных финансовых и административных
                                    |  условий.

