doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        block content
            .text-content.news
                .inner
                    .container-fluid
                        .row
                            .col-md-12
                                .bread-crumbs
                                    a(href="#") Главная
                                    span —
                                    a(href="#") Новости
                                h2 Новости
                                .news-item
                                    img(src="img/news.jpg")
                                    .news-right
                                        .news-date 29 августа 2017
                                        h6 Какая-то интригующая и интересная новость
                                        p Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений.
                                .news-item
                                    img(src="img/news.jpg")
                                    .news-right
                                        .news-date 29 августа 2017
                                        h6 Какая-то интригующая и интересная новость
                                        p Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений.
                                .news-item
                                    img(src="img/news.jpg")
                                    .news-right
                                        .news-date 29 августа 2017
                                        h6 Какая-то интригующая и интересная новость
                                        p Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений.
                                .news-item
                                    img(src="img/news.jpg")
                                    .news-right
                                        .news-date 29 августа 2017
                                        h6 Какая-то интригующая и интересная новость
                                        p Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений.
                                .news-item
                                    img(src="img/news.jpg")
                                    .news-right
                                        .news-date 29 августа 2017
                                        h6 Какая-то интригующая и интересная новость
                                        p Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений.
                                .news-item
                                    img(src="img/news.jpg")
                                    .news-right
                                        .news-date 29 августа 2017
                                        h6 Какая-то интригующая и интересная новость
                                        p Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений.
        include _footer2

