doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        block content
            .text-content
                .inner
                    .container-fluid
                        .row
                            .col-md-12
                                .bt-head
                                    h2
                                        span Брокеры —
                                        |  Alpari
                                    a.btn.btn-pers(href="#") Изменить пароль
                                .vivod
                                    h6
                                        |Баланс:
                                        span  $214
                                    a.btn.btn-pers(href="#") Вывести деньги
                                .pers-item.pers-item-1
                                    h4 Мои брокеры
                                    .pers-block.pers-block-1
                                        .pers-line.pers-head
                                            h6 Название
                                        .pers-line
                                            p Alpari
                                        .pers-line
                                            p FxPRO
                                    .pers-block.pers-block-2
                                        .pers-line.pers-head
                                            h6 Номер счет
                                        .pers-line
                                            p 1234567890
                                        .pers-line
                                            p 1234567890
                                    .pers-block.pers-block-3
                                        .pers-line.pers-head
                                            h6 Всего заработано
                                        .pers-line
                                            p 118$
                                        .pers-line
                                            p 34$
                                    .pers-block.pers-block-4
                                        .pers-line.pers-head
                                            br
                                        .pers-line
                                            a(href="#") Редактировать
                                        .pers-line
                                            a(href="#") Редактировать
                                    .pers-block.pers-block-5
                                        .pers-line.pers-head
                                            br
                                        .pers-line
                                            a(href="#") Улалить
                                        .pers-line
                                            a(href="#") Улалить
        include _footer2

