doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        block content
            .text-content
                .inner
                    .container-fluid
                        .row
                            .col-md-12
                                .bt-head
                                    h2
                                        span Брокеры —
                                        |  Alpari
                                    a.btn.btn-pers(href="#popup3" class="popup") Изменить пароль
                                .vivod
                                    h6
                                        |Баланс:
                                        span  $214
                                    a.btn.btn-pers(href="#popup5" class="popup") Вывести деньги
                                .pers-item.pers-item-1.clearfix
                                    h4 Мои брокеры
                                    .pers-block.pers-block-1.pers-block-media
                                        .pers-line.pers-head
                                            h6 Название
                                        .pers-line
                                            p Alpari
                                            a(href="#") Редактировать
                                            a(href="#") Улалить
                                        .pers-line
                                            p FxPRO
                                            a(href="#") Редактировать
                                            a(href="#") Улалить
                                    .pers-block.pers-block-2.pers-block-media
                                        .pers-line.pers-head
                                            h6 Номер счет
                                        .pers-line
                                            p 1234567890
                                            a(href="#") Редактировать
                                            a(href="#") Улалить
                                        .pers-line
                                            p 1234567890
                                            a(href="#") Редактировать
                                            a(href="#") Улалить
                                    .pers-block.pers-block-3.pers-block-media
                                        .pers-line.pers-head
                                            h6 Всего заработано
                                        .pers-line
                                            p 118$
                                            a(href="#") Редактировать
                                            a(href="#") Улалить
                                        .pers-line
                                            p 34$
                                            a(href="#") Редактировать
                                            a(href="#") Улалить
                                    .pers-block.pers-block-4
                                        .pers-line.pers-head
                                            br
                                        .pers-line
                                            a(href="#") Редактировать
                                        .pers-line
                                            a(href="#") Редактировать
                                    .pers-block.pers-block-5
                                        .pers-line.pers-head
                                            br
                                        .pers-line
                                            a(href="#") Улалить
                                        .pers-line
                                            a(href="#") Улалить
                                .add
                                    a.btn.btn-pers(href="#popup4" class="popup") Добавить счет брокера
                                    span и начать получать бонусы
                                .pers-item.pers-item-1.clearfix.pers-item-second
                                    h4 История транзикация
                                    .pers-block.pers-block-6
                                        .pers-line.pers-head
                                            h6 Дата
                                        .pers-line
                                            p 12.08.17
                                        .pers-line
                                            p 15.08.17
                                        .pers-line
                                            p 2.09.17
                                        .pers-line
                                            p 15.08.17
                                        .pers-line
                                            p 15.08.17
                                        .pers-line
                                            p 12.08.17
                                    .pers-block.pers-block-7
                                        .pers-line.pers-head
                                            h6 Наименование
                                        .pers-line
                                            p Вывод средств
                                        .pers-line
                                            p Приход бонуса Alpari
                                        .pers-line
                                            p Приход бонуса Alpari
                                        .pers-line
                                            p Вывод средств
                                        .pers-line
                                            p Приход бонуса Alpari
                                        .pers-line
                                            p Приход бонуса Alpari
                                    .pers-block.pers-block-8
                                        .pers-line.pers-head
                                            h6 Сумма
                                        .pers-line
                                            p -24$
                                        .pers-line
                                            p +12$
                                        .pers-line
                                            p +12$
                                        .pers-line
                                            p -38$
                                        .pers-line
                                            p +34$
                                        .pers-line
                                            p +4$
        include _footer2

