@import url("https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,latin-ext");
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: .4s;
  animation-duration: .4s; }

@-webkit-keyframes shake {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  20%, 60% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  40%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes shake {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  20%, 60% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  40%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

body {
  font-family: 'Exo 2', sans-serif;
  max-width: 1920px;
  margin: 0 auto; }

header {
  background-image: url("../img/bg-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 460px;
  padding-top: 15px; }
  @media (max-width: 770px) {
    header {
      padding-top: 0; } }

@media (max-width: 770px) {
  .header-top .h-mnu ul {
    width: 320px;
    position: absolute;
    top: 0;
    left: -120%;
    text-align: center;
    background-color: #262d37;
    z-index: 1;
    -webkit-transition: .5s all;
    transition: .5s all; }
    .header-top .h-mnu ul.is-active {
      left: 0; } }

@media (max-width: 770px) {
  .header-top .h-mnu ul li a {
    float: none;
    width: 100%;
    padding: 21px 0;
    display: block;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid white;
    border-right: 1px solid white; } }

.h-mnu {
  margin-left: -15px;
  position: relative; }
  .h-mnu ul li a {
    float: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    -webkit-transition: .2s all;
    transition: .2s all;
    background-color: transparent;
    padding: 6px 15px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }
    .h-mnu ul li a:hover, .h-mnu ul li a:focus {
      background-color: #59d9a5;
      color: #000000; }

.login {
  line-height: 32px; }
  @media (max-width: 770px) {
    .login {
      padding-top: 15px; } }
  .login a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    -webkit-transition: .2s all;
    transition: .2s all; }
    .login a:hover, .login a:focus {
      color: #999999; }
  .login span {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin: 0 4px; }

.hamburger {
  position: absolute;
  top: 5px;
  left: 0;
  display: none !important;
  z-index: 2; }
  @media (max-width: 770px) {
    .hamburger {
      display: block !important; } }

.header-content {
  text-align: center; }
  .header-content h1 {
    margin-top: 160px; }
    @media (max-width: 770px) {
      .header-content h1 {
        margin-top: 170px; } }
    @media (max-width: 550px) {
      .header-content h1 {
        font-size: 50px;
        line-height: 25px; }
        .header-content h1 span {
          font-size: 20px; } }
    @media (max-width: 380px) {
      .header-content h1 {
        font-size: 35px;
        line-height: 22px; }
        .header-content h1 span {
          font-size: 17px; } }
  .header-content a {
    margin: 0 7px;
    margin-top: 30px; }
    @media (max-width: 550px) {
      .header-content a {
        margin-top: 15px; } }

.btn-green {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  border: 3px solid #59d9a4;
  padding: 12px 30px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
  .btn-green:hover, .btn-green:focus {
    background-color: #59d9a4;
    color: black; }

.btn-blue {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  border: 3px solid #59d5da;
  padding: 12px 25px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
  .btn-blue:hover, .btn-blue:focus {
    background-color: #59d5da;
    color: black; }

.work {
  text-align: center;
  padding: 70px 0; }
  @media (max-width: 483px) {
    .work {
      padding: 40px 0; } }

.work-rad {
  width: 86px;
  height: 86px;
  border: 5px solid #59d9a5;
  color: #59d9a4;
  font-size: 30px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto; }

.work-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 205px;
  margin: 0 38px;
  margin-top: 40px;
  position: relative; }
  @media (max-width: 1163px) {
    .work-item {
      margin: 0 10px;
      margin-top: 40px; } }
  .work-item:after {
    position: absolute;
    content: '';
    display: block;
    width: 207px;
    height: 7px;
    background-color: #59d9a5;
    top: 40px;
    right: -143px; }
    @media (max-width: 1163px) {
      .work-item:after {
        width: 147px;
        right: -87px; } }
    @media (max-width: 939px) {
      .work-item:after {
        display: none; } }
  .work-item p {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px; }

.work-item-last:after {
  display: none; }

.header-mod {
  background-image: none;
  min-height: auto;
  background-color: #262d37;
  padding-bottom: 15px; }

.text-content h2 {
  text-align: left; }

.bread-crumbs {
  margin-bottom: 5px; }
  .bread-crumbs a {
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline; }
  .bread-crumbs span {
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 5px; }

.news-item {
  margin-top: 25px; }
  .news-item img {
    width: 180px;
    display: inline-block;
    vertical-align: middle; }
    @media (max-width: 1110px) {
      .news-item img {
        display: block;
        width: 250px; } }
    @media (max-width: 400px) {
      .news-item img {
        width: 100%; } }
  .news-item .news-right {
    display: inline-block;
    vertical-align: middle;
    width: 82%;
    margin-left: 10px; }
    @media (max-width: 1110px) {
      .news-item .news-right {
        margin-left: 0;
        width: 100%;
        display: block;
        margin-top: 20px; } }
    .news-item .news-right p {
      font-weight: 300;
      line-height: 18px;
      margin-top: 5px; }
    .news-item .news-right h6 {
      font-size: 18px;
      font-weight: 700; }
    .news-item .news-right .news-date {
      color: #808080;
      font-size: 13px;
      font-weight: 300; }

.news h2 {
  margin-bottom: 35px; }

.text-content h2 span {
  color: #bfbfbf;
  font-weight: 400; }

.btn-br {
  background-color: #59d9a5;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 3px solid #59d9a4;
  padding: 6px 19px; }
  .btn-br:hover, .btn-br:focus {
    color: #000;
    background-color: transparent; }

.bt-head h2 {
  display: inline-block; }
  @media (max-width: 580px) {
    .bt-head h2 {
      display: block;
      margin-bottom: 20px; } }

.bt-head .btn-br {
  float: right;
  margin-top: 3px; }
  @media (max-width: 580px) {
    .bt-head .btn-br {
      float: none;
      margin-top: 0; } }

.bt-head .btn-pers {
  float: right;
  margin-top: 6px; }
  @media (max-width: 580px) {
    .bt-head .btn-pers {
      float: none;
      margin-top: 0; } }

.br-rate-left {
  float: left;
  color: #808080;
  font-size: 14px;
  font-weight: 700; }

.br-rate-right {
  float: right;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.br-rate-item {
  border-bottom: 1px solid #d9d9d9;
  height: 25px;
  margin-top: 5px; }

.br-rate {
  margin-top: 35px; }
  @media (max-width: 767px) {
    .br-rate {
      margin-top: 20px; } }

.reg {
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
  margin-bottom: 40px;
  height: 142px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }
  @media (max-width: 1000px) {
    .reg {
      height: 215px; } }
  @media (max-width: 780px) {
    .reg {
      height: auto; } }
  @media (max-width: 780px) {
    .reg {
      margin-top: 30px;
      margin-bottom: 0; } }

.reg-left {
  width: 20%;
  height: 100%;
  float: left;
  background-color: white;
  -webkit-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
  text-align: center;
  position: relative; }
  @media (max-width: 1000px) {
    .reg-left {
      width: 25%; } }
  @media (max-width: 850px) {
    .reg-left {
      width: 30%; } }
  @media (max-width: 780px) {
    .reg-left {
      float: none;
      width: 100%;
      padding: 50px 0;
      -webkit-border-radius: 20px 20px 0 0;
      border-radius: 20px 20px 0 0; } }
  .reg-left img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto; }
    @media (max-width: 780px) {
      .reg-left img {
        position: relative; } }

.reg-right {
  width: 80%;
  height: 100%;
  background-color: #262d37;
  -webkit-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  float: left;
  padding: 25px 30px;
  position: relative; }
  @media (max-width: 1000px) {
    .reg-right {
      width: 75%; } }
  @media (max-width: 850px) {
    .reg-right {
      width: 70%; } }
  @media (max-width: 780px) {
    .reg-right {
      float: none;
      width: 100%;
      height: auto;
      -webkit-border-radius: 0 0 20px 20px;
      border-radius: 0 0 20px 20px;
      text-align: center; } }
  .reg-right:after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    margin-top: -20px;
    left: -40px;
    border: 20px solid transparent;
    border-right: 20px solid #262d37; }
    @media (max-width: 780px) {
      .reg-right:after {
        border: 20px solid transparent;
        border-bottom: 20px solid #262d37;
        top: -20px;
        left: 50%;
        margin-left: -20px; } }
  .reg-right h5 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      .reg-right h5 {
        display: block; } }
    @media (max-width: 780px) {
      .reg-right h5 {
        font-size: 22px; }
        .reg-right h5 br {
          display: none; } }
    .reg-right h5 span {
      color: #59d9a5; }
  .reg-right .btn-br-mod {
    vertical-align: middle;
    float: right;
    margin: 20px 0; }
    @media (max-width: 1000px) {
      .reg-right .btn-br-mod {
        float: none;
        margin-bottom: 0; } }

.btn-br-mod {
  font-size: 18px;
  padding: 10px 25px; }
  .btn-br-mod:hover, .btn-br-mod:focus {
    color: white; }

.btn-pers {
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 5px 15px; }
  .btn-pers:hover, .btn-pers:focus {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.25);
    color: white; }

.vivod {
  margin-top: 25px; }
  @media (max-width: 580px) {
    .vivod {
      margin-top: 15px; } }
  .vivod h6 {
    color: #808080;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
    .vivod h6 span {
      color: #000000;
      font-weight: 700; }
  .vivod .btn-pers {
    vertical-align: middle; }

.pers-item {
  margin-top: 50px;
  position: relative;
  height: 138px; }
  @media (max-width: 750px) {
    .pers-item {
      margin-top: 30px;
      height: auto; } }
  .pers-item:after {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.15);
    height: 1px;
    width: 100%;
    bottom: 67px;
    left: 0; }
    @media (max-width: 750px) {
      .pers-item:after {
        display: none; } }
  .pers-item h4 {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px; }

.pers-block {
  float: left;
  position: relative; }
  .pers-block:after {
    position: absolute;
    content: '';
    display: none;
    background-color: rgba(0, 0, 0, 0.15);
    height: 1px;
    width: 100%;
    bottom: -10px;
    left: 0; }
    @media (max-width: 750px) {
      .pers-block:after {
        display: block; } }
  @media (max-width: 750px) {
    .pers-block {
      float: none; } }

.pers-line {
  margin-top: 10px; }
  .pers-line h6 {
    color: #000000;
    font-size: 14px;
    font-weight: 700; }
  .pers-line p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0 !important; }
  .pers-line a {
    color: #003cff;
    font-size: 14px;
    font-weight: 400;
    display: inline-block; }
    .pers-line a:hover, .pers-line a:focus {
      text-decoration: underline; }

.pers-head {
  margin-bottom: 20px; }
  @media (max-width: 750px) {
    .pers-head {
      margin-bottom: 0;
      margin-top: 20px; } }

.pers-block-1 {
  width: 32%; }
  @media (max-width: 1100px) {
    .pers-block-1 {
      width: 28%; } }
  @media (max-width: 950px) {
    .pers-block-1 {
      width: 20%; } }
  @media (max-width: 750px) {
    .pers-block-1 {
      width: 100%; } }

.pers-block-2 {
  width: 28%; }
  @media (max-width: 950px) {
    .pers-block-2 {
      width: 20%; } }
  @media (max-width: 750px) {
    .pers-block-2 {
      width: 100%; } }

.pers-block-3 {
  width: 20%; }
  @media (max-width: 750px) {
    .pers-block-3 {
      width: 100%; } }

.pers-block-4 {
  width: 15%; }
  @media (max-width: 950px) {
    .pers-block-4 {
      width: 20%; } }
  @media (max-width: 750px) {
    .pers-block-4 {
      display: none; } }

@media (max-width: 750px) {
  .pers-block-5 {
    display: none; } }

.pers-block-media .pers-line p {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }

.pers-block-media .pers-line a {
  display: none; }
  @media (max-width: 750px) {
    .pers-block-media .pers-line a {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; } }

.add {
  margin-top: 30px; }
  .add a {
    margin-right: 10px; }
  @media (max-width: 750px) {
    .add span {
      display: block;
      margin-top: 5px;
      margin-left: 8px; } }

.pers-block-6 {
  width: 14%; }
  @media (max-width: 750px) {
    .pers-block-6 {
      width: 20%; } }
  @media (max-width: 450px) {
    .pers-block-6 {
      width: 26%; } }

.pers-block-7 {
  width: 75%; }
  @media (max-width: 750px) {
    .pers-block-7 {
      width: 60%; } }
  @media (max-width: 450px) {
    .pers-block-7 {
      width: 56%; } }

.pers-block-8 {
  width: auto; }

@media (max-width: 750px) {
  .pers-item-second:after {
    display: block;
    top: 81px; } }

@media (max-width: 750px) {
  .pers-item-second .pers-line {
    margin-top: 20px; } }

@media (max-width: 750px) {
  .pers-item-second .pers-block:after {
    display: none; } }

@media (max-width: 750px) {
  .pers-item-second .pers-block {
    float: left; } }

.popup-all {
  width: 423px;
  height: auto;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  padding: 30px 0; }
  @media (max-width: 450px) {
    .popup-all {
      width: 95%; } }
  .popup-all h3 {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px; }
  .popup-all form {
    width: 320px;
    margin: 0 auto; }
    @media (max-width: 450px) {
      .popup-all form {
        width: 85%; } }
    .popup-all form p {
      text-align: left;
      color: rgba(0, 0, 0, 0.5);
      margin: 5px 0;
      margin-top: 10px; }
    .popup-all form label input {
      margin-top: 0; }
      .popup-all form label input:hover, .popup-all form label input:focus {
        background-color: transparent;
        background-image: url("../img/input.png"); }
        @media (max-width: 450px) {
          .popup-all form label input:hover, .popup-all form label input:focus {
            background-image: none; } }
    .popup-all form input {
      width: 100%;
      height: 35px;
      background-image: url("../img/input.png");
      background-repeat: no-repeat;
      border: none;
      outline: none;
      padding-left: 20px;
      margin-top: 7px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      -webkit-transition: .2s all;
      transition: .2s all; }
      @media (max-width: 450px) {
        .popup-all form input {
          background-image: none;
          border: 1px solid purple; } }
      .popup-all form input:hover, .popup-all form input:focus {
        background-color: #e6e6e6;
        background-image: none; }
    .popup-all form button {
      margin-top: 20px; }
