@import url(../libs/lightslider/dist/css/lightslider.min.css);
@import url(../libs/magnific-popup/dist/magnific-popup.css);
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.275s;
  transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    -webkit-transition: opacity 0.125s 0.275s ease;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
  transform: translate3d(0, 10px, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.275s;
  transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    -webkit-transition: opacity 0.125s 0.275s ease;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(-135deg);
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(270deg);
    transform: translate3d(0, -20px, 0) rotate(270deg);
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s; }

.rate {
  padding: 50px 0;
  background-color: #f7f7f7; }
  @media (max-width: 483px) {
    .rate {
      padding: 40px 0; } }
  .rate h2 {
    margin-bottom: 40px; }

.rate-item {
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin-top: 20px;
  padding: 30px 0;
  -webkit-border-radius: 15px;
  border-radius: 15px; }
  @media (max-width: 1150px) {
    .rate-item {
      text-align: center; } }
  @media (max-width: 670px) {
    .rate-item {
      padding: 30px; } }
  @media (max-width: 433px) {
    .rate-item {
      padding: 20px; } }
  .rate-item img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px; }
    @media (max-width: 1150px) {
      .rate-item img {
        margin-right: 30px;
        margin-left: 0; } }
    @media (max-width: 670px) {
      .rate-item img {
        display: inline; } }
  .rate-item p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 70px;
    text-align: left; }
    @media (max-width: 1150px) {
      .rate-item p {
        margin-right: 0; } }
    @media (max-width: 670px) {
      .rate-item p {
        display: block;
        text-align: center;
        margin-top: 20px; }
        .rate-item p br {
          display: none; } }

.rate-right-item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px; }
  @media (max-width: 1150px) {
    .rate-right-item {
      margin: 0 10px;
      margin-top: 20px; } }
  @media (max-width: 498px) {
    .rate-right-item {
      width: 110px;
      margin: 5px 12px; } }
  .rate-right-item p {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    margin: 0; }
    @media (max-width: 670px) {
      .rate-right-item p br {
        display: block; } }
    .rate-right-item p span {
      color: #808080;
      font-size: 14px;
      font-weight: 400; }

.rate-right {
  display: inline-block;
  vertical-align: middle; }
  @media (max-width: 1150px) {
    .rate-right {
      display: block;
      text-align: center; } }
  .rate-right a {
    margin-top: 20px;
    margin-right: 10px; }
    @media (max-width: 1150px) {
      .rate-right a {
        margin: 0 12px;
        margin-top: 20px; } }
    @media (max-width: 433px) {
      .rate-right a {
        margin-top: 10px; } }

.rate-bl {
  text-align: center;
  margin-top: 35px; }
  .rate-bl a {
    padding: 9px 19px; }

.btn-rate {
  border: 2px solid #59d9a5;
  padding: 4px 15px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  border-radius: 30px; }
  .btn-rate:hover, .btn-rate:focus {
    background-color: #59d9a5;
    color: #000000; }

.ques {
  padding: 50px 0; }
  .ques h2 {
    margin-bottom: 40px; }
  @media (max-width: 483px) {
    .ques {
      padding: 40px 0; } }

.ques-item {
  border: 1px solid #d9d9d9;
  position: relative;
  padding: 14px 20px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-top: 8px;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
  padding-right: 60px; }
  .ques-item.is-active {
    border: 3px solid #59d8a4; }
    .ques-item.is-active h6 {
      font-weight: 700; }
    .ques-item.is-active i {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOBAMAAADH1sFNAAAAAXNSR0IB2cksfwAAACFQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAbdFIwQAAAAt0Uk5TAAIGHQUYARcZHAMg01ZtAAAAVUlEQVR4nGNgAAFGAQYEUDZBsJlMgx0QEmGpJgiJBDa4lHIYAwNMCijBwACTUi4DkelGYAnzBBDFVqwAl4BIQSUgUjAJsFR7AozDVsmwAOEqLoYhAgBO5g3BJLlkOQAAAABJRU5ErkJggg==); }
  .ques-item:hover, .ques-item:focus {
    border-color: #59d8a4; }
  .ques-item h6 {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; }
  .ques-item i {
    position: absolute;
    top: 20px;
    right: 20px; }

.ques-hide {
  display: none; }
  .ques-hide.is-active {
    display: block; }
  .ques-hide p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px; }

footer {
  background-color: #242b35;
  padding: 45px 0;
  padding-bottom: 20px; }
  @media (max-width: 1170px) {
    footer {
      padding: 20px 0; } }
  footer p {
    opacity: 0.35;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px; }
    @media (max-width: 1170px) {
      footer p {
        margin-bottom: 20px; } }
  footer h6 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px; }
  @media (max-width: 700px) {
    footer .pull-left {
      float: none !important; } }
  footer .h-mnu {
    float: right;
    width: 354px; }
    @media (max-width: 700px) {
      footer .h-mnu {
        float: none;
        width: auto; } }
    @media (max-width: 368px) {
      footer .h-mnu ul {
        margin-left: 15px; } }
    @media (max-width: 368px) {
      footer .h-mnu ul li {
        margin-top: 10px; } }
    @media (max-width: 368px) {
      footer .h-mnu ul li a {
        float: none; } }

.footer-mod {
  padding: 8px 0; }

.text-content {
  padding: 40px 0; }
  .text-content p {
    margin-top: 20px; }
  .text-content .text-img {
    margin-top: 20px;
    width: 100%; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  right: 18px;
  display: block;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important;
  background-image: none !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.field {
  position: relative;
  float: left; }
  .field .allert .fa-exclamation-triangle {
    display: block;
    background-size: 100%;
    width: 25px;
    height: 25px; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

a {
  text-decoration: none;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.clearfix:after {
  clear: both; }

.inner {
  max-width: 1170px;
  margin: 0 auto; }

.icon {
  display: inline-block; }

.btn {
  display: inline-block;
  -webkit-transition: .2s all;
  transition: .2s all; }

h1 {
  color: #ffffff;
  font-size: 71px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  margin: 0; }
  h1 span {
    font-size: 29px;
    font-weight: 300; }

h2 {
  color: #262d37;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 40px; }
  h2 span {
    color: #59d9a5; }

.icon-ques-arrow-top {
  width: 24px;
  height: 14px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOBAMAAADH1sFNAAAAAXNSR0IB2cksfwAAACFQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAbdFIwQAAAAt0Uk5TAAIGHQUYARcZHAMg01ZtAAAAVUlEQVR4nGNgAAFGAQYEUDZBsJlMgx0QEmGpJgiJBDa4lHIYAwNMCijBwACTUi4DkelGYAnzBBDFVqwAl4BIQSUgUjAJsFR7AozDVsmwAOEqLoYhAgBO5g3BJLlkOQAAAABJRU5ErkJggg==); }

.icon-ques-arrow-bot {
  width: 24px;
  height: 14px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOBAMAAADH1sFNAAAAAXNSR0IB2cksfwAAACFQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAbdFIwQAAAAt0Uk5TAwAcFwEZBh0FGALxM1AyAAAAZUlEQVR4nGNgFIQDAQZlRxhbxJQh3QTGcS5jECuGSomYJzIIwqScywQZBKFSQAkgByoFlABxJCqBUiLTE8EcwfYpgoKeQAkwBygFlgBzgFJgCQhHohIsAeEItoMloByphRDOEAEAW9EZppiF1HcAAAAASUVORK5CYII=); }

p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }
